<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Wypożyczalnia samochodów</h1>

<form th:action="@{/offer}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Oferta</button>
</form>

<form th:action="@{/user/calendar}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Kalendarz</button>
</form>

<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Rejestracja</button>
</form>

</body>
</html>