<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Lista samochodów</h1>

    <table>

        <tr>
            <td>Model samochodu</td>
            <td>Cena za dobę</td>
        </tr>
        <tr>
            <td>Mercedes</td>
            <td>100</td>
        </tr>
        <tr>
            <td>BMW</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Fiat</td>
            <td>100</td>
        </tr>

    </table>
</body>
</html>