<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Lista usług</h1>

    <table>

        <tr>
            <td>Usługa</td>
            <td>Cena</td>
        </tr>
        <tr>
            <td>Wyrywanie</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Lakowanie</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Plomba</td>
            <td>100</td>
        </tr>

    </table>
</body>
</html>